<nav class= navbar>
<a><%= link_to 'View Events', events_path%></a>
<a><%= link_to 'Post Event', new_event_path%></a>
<a><%= link_to 'Sign In', new_user_path%></a>
<a><%= link_to 'log In', new_session_path%></a>
</nav>

<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
    <h1 class="display-4 font-italic">Welcome</h1>
      <p class="lead my-3">This is where you can sign up and post your blog and thoughts. Click on "view events" to see all the events near you.</p>
      <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
  
    </div>
  </div>
